In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data.csv')

In [ ]:
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [ ]:
x = df['test']

In [ ]:
y = df['class']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer()

In [ ]:
x = tfidf.fit_transform(x)

In [ ]:
x.shape

(4, 14)

In [ ]:
tfidf.vocabulary_

{'love': 8,
 'bangladesh': 2,
 'could': 3,
 'you': 13,
 'give': 4,
 'me': 9,
 'an': 0,
 'iphone': 7,
 'hello': 5,
 'how': 6,
 'are': 1,
 'want': 12,
 'to': 11,
 'talk': 10}

In [ ]:
doc = x.toarray()

In [ ]:
doc

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.43003652, 0.        , 0.        , 0.43003652, 0.43003652,
        0.        , 0.        , 0.43003652, 0.        , 0.43003652,
        0.        , 0.        , 0.        , 0.27448674],
       [0.        , 0.5417361 , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.34578314],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.5417361 , 0.34578314]])

In [ ]:
table = pd.DataFrame(doc, index=df , columns=tfidf.get_feature_names())

In [ ]:
table

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
"(Could you give me an iphone?, 0)",0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
"(Hello how are you?, 1)",0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
"(I want to talk you., 1)",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783